<!doctype html>
<html lang="en" data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/css/bootstrap_v5_3.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://at.alicdn.com/t/a/font_4151968_zm3z1ijgrfb.css" />
  <link href="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/css/markdown_rendering.css" rel="stylesheet">
  <!--md格式内容转换-->
  <style>
    .iframe-container {
      width: 100%;
      height: 100vh;
    }

    .nav-link:hover {
      background-color: #a5b6c6;
    }

    .active {
      background-color: #8899f0;
    }

    #offcanvas-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
    }

    #offcanvasNavbar .offcanvas-body {
      padding-top: 0;
    }
  </style>
  <script src="https://dream-web.oss-cn-hangzhou.aliyuncs.com/static/css/bootstrap_v5_3.bundle.min.js"></script>
  <script type="text/javascript" src="//dream-web.oss-cn-hangzhou.aliyuncs.com/static/jslib/jquery.min.js"></script>
  <script type="text/javascript" src="customer.js"></script>
</head>

<body>
  <script th:inline="javascript">
    !(function (c, b, d, a) {
      c[a] || (c[a] = {}); c[a].config =
      {
        pid: /*[[${armsRetcodePid}]]*/ '',
        appType: "web",
        imgUrl: "https://arms-retcode.aliyuncs.com/r.png?",
        sendResource: true,
        enableLinkTrace: true,
        behavior: true,
        useFmp: true
      };
      with (b) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin", "", src = d)
    })(window, document, "https://sdk.rum.aliyuncs.com/v1/bl.js", "__bl");
  </script>
  <script th:inline="javascript">
    !(function (c, b, d, a) {
      var pid = /*[[${armsRumPid}]]*/ '';
      d="https://" + pid.split('@')[0] + "-sdk.rum.aliyuncs.com/v2/browser-sdk.js";
      c[a] || (c[a] = {}); c[a] = {
        "pid": pid,
        "endpoint": "https://" + pid.split('@')[0] + "-default-cn.rum.aliyuncs.com"
      };
      with (b) with (body) with (insertBefore(createElement("script"), firstChild)) setAttribute("crossorigin", "", src = d)
    })(window, document, '', "__rum");
  </script>
  <main>
    <button id="query-btn" class="btn btn-outline-secondary" type="button" onclick="queryData()">
      List Customers
    </button>
    <!-- <button id="create-btn" class="btn btn-outline-secondary" type="button"
            onclick="createData()">
        Create Customers
    </button> -->
    <button id="query-all-btn" class="btn btn-outline-secondary" type="button" onclick="queryAllData()">
      Query All Customers
    </button>

    <div class="px-5 py-3" id="customerPage">
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Success</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="modalData"></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>